.sidebar{
    flex: 3;
   margin: 20px;
   padding-bottom: 30px;
   background-color: #F9F9F9;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 20px;
    text-align: center;
}
.sidebarImage{
    margin-top: 15px;
    width: 200px;
    height: 200px;;

}
.sidebarItem > p{
  padding: 30px;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 14px;  
}
.sidebarList{
    list-style: none;
    margin-bottom: 20px;
    text-align: center;

}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
}
.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}